<section class="main-header">
</section>
<div class="container" id="top_page">
  <div class="row">

    <div class="col-sm-6" id="devices">
      <h4>Fakerbookを使うと、友達や同僚、同級生、仲間たちとつながりを深められます。ケータイ、スマートフォンからもアクセスできます。</h4>
      <img src="<%= asset_path "images.jpg" %>" width="100%">
    </div>
    <div class="col-sm-6" id="top">
      <% if user_signed_in? %>
      <% else %>
        <h1>アカウント登録</h1>
        <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
          </div>
          </br>
          <div class="field">
            <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
          </div>
          </br>
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
          </div>
          </br>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード（確認）" %>
          </div>
          </br>
          <div class="actions">
            <%= f.submit "サインアップ", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
        <%= render "devise/shared/top" %>
        <% end %>
    </div>
  </div>
</div>
